{% extends 'layout.html.twig' %}

{% block title %}Editer votre image{% endblock %}

{% block contenu %}

    <header class="header">
        <div class="blocb container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <a href="{{ url('index_index') }}"><img alt="logo" class="logo" src="{{ asset('assets/images/adopte-un-mec.png') }}"></a>
                </div>
            </div>
        </div>
    </header>

    <center>
        <img alt="we want you" class="imgconnect img-responsive" src="{{ asset('assets/images/WE-WANT-YOU.png') }}">
    </center>
    <form  method="POST" class="form-horizontal container">

        <div class="form-group">
            <div class="col-xs-6">
                <input class="form-control" required type="text" id="PRENOMAUTEUR" name="PRENOMAUTEUR" placeholder="Saisissez votre prenom">
            </div>
            <div class="col-xs-6">
                <input class="form-control"  id="NOMAUTEUR" name="NOMAUTEUR" required type="text" placeholder="Saisissez votre nom">
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-6">
                <input class="form-control" required type="text" id="EMAILAUTEUR" name="EMAILAUTEUR" placeholder="Saisissez votre email">
            </div>
            <div class="col-xs-6">
                <input class="form-control"  id="MDPAUTEUR" name="MDPAUTEUR" required type="text" placeholder="*******">
            </div>
        </div>

        <input type="submit" class="btn btn-block btn-outline-dark" value="M'inscrire !">

    </form>

    {% include 'inc/footer.html' %}

{% endblock %}