{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Adopte un meme{% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}

    <header class="header">
        <div class="blocb container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <a href="{{ url('index_index') }}"><img class="logo" src="{{ asset('assets/images/adopte-un-mec.png') }}"></a>
                </div>
                <div class="col-md-4">

                    <div class="bouttons right">
                        <button type="button" class="btn btn-outline-light">Inscription</button>
                        <button type="button" class="btn btn-outline-light">Connexion</button>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="blocd container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Cherche ton meme...</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Entrez votre recherche..."><button class="search-btn"><a href=""><i class="fas fa-search"></i></a></button>
        </div>
    </div>
    <div class="blocedit text-center"><a href="{{ url('index_edit') }}"><button type="button" class="btn btn-lg btn-outline-dark">Editer une image</button></a></div>
    <div class="container blocc">

    </div>

    {% include 'inc/footer.html' %}
    
{% endblock %}