<div class="blocg">
    <img class="image1" src="{{ asset('assets/images/troll1.png') }}">
    <img class="image2" src="{{ asset('assets/images/troll2.png') }}">
    <div class="clearfix"></div>

</div>
<div class="container-fluid bloce">
    <div class="container">
        <div class="row">
            <div class="ment col-md-4">Qui sommes-nous ?<p><i class="fas fa-users imail"></i> Petite équipe de jeunes
                développeur web sortant de WebForce3 </p></div>
            <div class="ment col-md-4">Contact<p><i class="fas fa-at imail"></i> admin.contact@adopteunmeme.fr</p>
                <p><i class="fas fa-phone imail"></i> 03.xx.xx.xx.xx</p></div>
            <div class="ment col-md-4">A propos<p><i class="fab fa-napster"></i> Adopteunmeme.fr est un générateur
                d'images</p></div>
            <div class="ment col-md-12">Suivez nous</div>
        </div>
    </div>
</div>
<div class="container-fluid blocf">
    <p class="copyright">Copyright © 2018 Adopteunmeme</p>
</div>
